In [22]:
#connects to mysql and creates database and tables
import client_id_api_key_info
import mysql.connector
from mysql.connector import errorcode
import requests
import json
#database string
endpoint = client_id_api_key_info.DatabaseEndpoint
name = client_id_api_key_info.DatabaseName
password = client_id_api_key_info.DatabasePassword
port = client_id_api_key_info.DatabasePort
currentOffset = 50
cnx = mysql.connector.connect(
    host = endpoint,
    user = name,
    passwd = password,
)
cur = cnx.cursor()
#table creation SQL
#TABLE SETUP
TABLES = {}
TABLES['businesses'] ="""
CREATE TABLE businesses (
  id VARCHAR(255) PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  review_count INT,
  rating DECIMAL(10,2),
  price INT, 
  address VARCHAR(255)
)
"""
TABLES['reviews'] ="""
CREATE TABLE reviews (
  id VARCHAR(255) PRIMARY KEY,
  text VARCHAR(5000),
  rating DECIMAL(10, 2),
  time_created DATE,
  user VARCHAR(255)
)
"""
#create database and tables
#create_database(cur, "PizzaPlaces")
#create_tables(TABLES, cur)
#get businness information from yelp

businessKeys = ['id', 'name', 'review_count', 
            'rating', 'price', 'location']



add_business = ("INSERT INTO PizzaPlaces.businesses"
                    "(id, name, review_count,"
                    "rating, price, address) "
                    "VALUES (%s, %s, %s, %s ,%s, %s)")
    
while currentOffset < 1000:
    params={'term':'pizza place','location':'Brooklyn NY',
            'limit': 50, 'offset':currentOffset}
    data = businessCallGET(params).json()
    cleaned_data = cleanData(data, businessKeys)
    
#inserts data into the table with the add_business column headers
    insertData(cur, add_business, cleaned_data)
    currentOffset += 50

in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful
in try block to insert into database
successful

In [16]:
cleaned_data

[('sUvoBG8t3eKC7WhJbnro2w',
  'The Pizza Place',
  92,
  3.5,
  2,
  '1344 BroadwayHewlett, NY 11557'),
 ('EsHcyOLHaK76bQuU7bwiTw',
  "Tony's Pizzeria & Restaurant",
  286,
  4.5,
  1,
  '443 Knickerbocker AveBrooklyn, NY 11237'),
 ('AbDiDY7kYDSldaKbGpoSlg',
  'The Brooklyn Firefly',
  215,
  4.0,
  2,
  '7003 3rd AveBrooklyn, NY 11209'),
 ('3VJwpmmeoPlCN3J5p5miEQ',
  "Brooklyn's Homeslice Pizzeria",
  109,
  4.5,
  1,
  '567 Vanderbilt AveBrooklyn, NY 11238'),
 ('ysqgdbSrezXgVwER2kQWKA',
  "Juliana's Pizza",
  2157,
  4.5,
  2,
  '19 Old Fulton StBrooklyn, NY 11201'),
 ('tZhguXirvAsEmJCbuym7BQ',
  "Jojo's Pizza",
  11,
  4.5,
  'null',
  '9502 Church AveBrooklyn, NY 11212'),
 ('v1DHGRNCH9247WLYoaoA9A',
  "L'industrie Pizzeria",
  506,
  4.5,
  1,
  '254 S 2nd StBrooklyn, NY 11211'),
 ('eTneVbjPKdo4gD9HfkDGdA',
  'Santa Panza',
  155,
  4.5,
  2,
  '1079 BroadwayBrooklyn, NY 11221'),
 ('2ocEotgscaDAEr6Ok2_XAA',
  'Pizzette',
  14,
  5.0,
  2,
  '191 Graham AveBrooklyn, NY 11206'),
 ('E2RpnwMxgDHAWcsNMevhmg',
  'Cuts & Slices',
  103,
  4.5,
  1,
  '93 Howard AveBrooklyn, NY 11233'),
 ('c7f3V4h8kB4Pvgl3WzUKJg',
  'Wood Fire Oven Pizza',
  16,
  4.0,
  'null',
  '7901 17th AnenueBrooklyn, NY 11214'),
 ('Gr-5hjfSUO_ZAfOdwnqWpw',
  'Family Pizza',
  55,
  4.0,
  1,
  '720 Flatbush AveBrooklyn, NY 11225'),
 ('XB52IWIOK0AWx0NREpeNBw',
  "Sal & Paul's Pizzeria",
  47,
  4.5,
  1,
  '1686 Pitkin AveBrooklyn, NY 11212'),
 ('OVyxBGSZ0x6rjyGkW6zCHA',
  'Taverna Pizza',
  2,
  5.0,
  'null',
  '663 Bay StStaten Island, NY 10304'),
 ('hSgD7ERSw0DE2RMzLGFiHg',
  'Daddy Greens',
  365,
  4.0,
  1,
  '1552 Fulton StBrooklyn, NY 11233'),
 ('C8j0q4Ma_S5hBGuAI-aaww',
  'Di Fara Pizza',
  3402,
  4.0,
  2,
  '1424 Ave JBrooklyn, NY 11230'),
 ('_sU0oNgNGyq1JFO8AGfB2A',
  'Vesuvius Pizza',
  25,
  3.5,
  1,
  '1800 Kings HwyBrooklyn, NY 11229'),
 ('b8xonwU5ZvxVauxNY07FsA',
  'Brooklyn Pizza Crew',
  133,
  3.5,
  2,
  '758 Nostrand AveBrooklyn, NY 11216'),
 ('MvkkAVNCFVmCWo8rXaTwBQ',
  'Uncle Frankieâ€™s',
  23,
  4.0,
  'null',
  '3007 Fort Hamilton PkwyBrooklyn, NY 11218'),
 ('CmYpP-qt1YFDBrBjdPL97A',
  'Amorina Cucina Rustica',
  222,
  4.0,
  2,
  '624 Vanderbilt AveBrooklyn, NY 11238'),
 ('0o322YHC7J9ru5s_GHUM3Q',
  'Mamma Roma',
  2,
  5.0,
  'null',
  '524 4th AveBrooklyn, NY 11215'),
 ('BuoZEYr6Y8o_fX2xs060SA',
  'Elegante Restaurant',
  82,
  4.0,
  1,
  '9201 Rockaway Beach BlvdRockaway Beach, NY 11693'),
 ('xrgzB0pvsxeGEIboE6I2gg',
  "Patsy's Pizzeria",
  512,
  4.5,
  2,
  '450 Dean StBrooklyn, NY 11217'),
 ('RMKKsZYt4Xsyq3nRGFPqdA',
  'Rocco Pizza',
  170,
  3.0,
  1,
  '765 Dekalb AveBrooklyn, NY 11216'),
 ('m86CNmYThtzzWB3nPnrhbg',
  'Emily - West Village',
  609,
  4.0,
  2,
  '35 Downing StNew York, NY 10014'),
 ('2ggi1luerd3Mf_C82JvCYg',
  "Grimaldi's Pizzeria",
  4591,
  3.5,
  2,
  '1 Front StBrooklyn, NY 11201'),
 ('G84x335itBwT6gAMyfz8OQ',
  'Marinara',
  166,
  4.0,
  2,
  '1308 Peninsula BlvdHewlett, NY 11557'),
 ('kymVU-N3-bTK5KA84ZvIxg',
  "Yaya's Pizzeria",
  14,
  4.5,
  1,
  '1675 Nostrand AveNew York, NY 11226'),
 ('pQo-KWQxuH26y0IzZbQj0A',
  "Joe & Sal's Pizza",
  117,
  4.5,
  1,
  '842 Franklin AveBrooklyn, NY 11225'),
 ('uSOnbiYkOgrcIF6IyBxgHg',
  'Slice Joint',
  3,
  5.0,
  'null',
  '115 Delancey StNew York, NY 10002'),
 ('Q9F2ocrmYuGt1yn3M7MOBw',
  'Lucali',
  1496,
  4.5,
  2,
  '575 Henry StBrooklyn, NY 11231'),
 ('mZDNA6pjNR9nwJdbzjvk0A',
  'Rocco Pizza',
  62,
  3.0,
  1,
  '330 Halsey StBrooklyn, NY 11216'),
 ('xnw88LhmiI7_ktRTVYbESw',
  'ZuriLee Restaurant',
  260,
  4.5,
  2,
  '755 Flatbush AveBrooklyn, NY 11226'),
 ('oH58h122Jpv47pqXhL9p_Q',
  'Original Pizza',
  116,
  4.0,
  1,
  '9514 Ave LBrooklyn, NY 11236'),
 ('2xQmBB6w-W6lxiex80fA9A',
  "Luigi's Pizzeria",
  239,
  4.5,
  1,
  '326 Dekalb AveBrooklyn, NY 11205'),
 ('2FgUndzCT_jJATbmrBDVBg',
  "Paulie Gee's Slice Shop",
  165,
  4.0,
  1,
  '110 Franklin StBrooklyn, NY 11222'),
 ('g8Ai7LiusDgN_fpsdD8_fQ',
  "Joe & Sal's Pizza Of Fort Greene",
  2,
  5.0,
  'null',
  '353 Myrtle AveBrooklyn, NY 11205'),
 ('IUYI_8EFBzouMfl81hofhg',
  'Pizza Plus',
  234,
  4.0,
  2,
  '359 7th AveBrooklyn, NY 11215'),
 ('t6TlsttYv1KhC5zCnOUM8A',
  'La Bona Pizza & Pasta',
  11,
  4.0,
  'null',
  '2426 Pitkin AveBrooklyn, NY 11208'),
 ('nLMJL4p7k4jNO4qLMc1wNg',
  'Leo',
  10,
  4.0,
  'null',
  '318 Grand StBrooklyn, NY 11211'),
 ('vmUNPvduTeWu24d--TbHAg',
  'Ops',
  128,
  4.5,
  2,
  '346 Himrod StBrooklyn, NY 11237'),
 ('NDsa8EWd_tcfvUFbhPsTuQ',
  "Tony's Pizza",
  139,
  4.5,
  1,
  '336 Knickerbocker AveBrooklyn, NY 11237'),
 ('jWunQ-f8CzRGwQVPhu0OdA',
  "Tony's Pizza",
  9,
  4.0,
  'null',
  '312 Utica AveBrooklyn, NY 11213'),
 ('agG51WpNjAEAVTUCgX9INQ',
  'On The Run Pizza',
  22,
  4.5,
  1,
  '1627 Mermaid AveBrooklyn, NY 11224'),
 ('fNRRmvVKTbEBSaAOcA-3bA',
  'Parkside',
  181,
  4.0,
  2,
  '705 Flatbush AveBrooklyn, NY 11225'),
 ('Td4FLmtMk1PYYisRuI2Qdg',
  'Quentin Pizzeria & Restaurant',
  24,
  4.5,
  1,
  '3211 Quentin RdBrooklyn, NY 11234'),
 ('3lqNnM93keyVXeWeURv7cg',
  "St John's Pizza",
  4,
  4.5,
  'null',
  '1412 Saint Johns PlBrooklyn, NY 11213'),
 ('wTNUUoYUl3gox-gUAZ9bAA',
  "Peppino's Brick Oven Pizza & Restaurant",
  405,
  4.5,
  2,
  '469 5th AveBrooklyn, NY 11215'),
 ('02sAHm3_CsRKE2IeT5iaPA',
  'Table 87 - Gowanus',
  311,
  4.0,
  2,
  '473 3rd AveBrooklyn, NY 11215'),
 ('gtuRPv9oCJDcUxoODfl0KQ',
  'Screamerâ€™s Pizzeria',
  96,
  3.5,
  'null',
  '685 Franklin AveBrooklyn, NY 11238')]

In [2]:
#creates database
#create database given cursor and name of database
def create_database(cursor, database_name):
    try: #checks if database_name exists
        cursor.execute("USE {}".format(database_name))
    except mysql.connector.Error as err:
        print("Database {} does not exist.".format(database_name))
        #if it doesn't exist, create a new database
        if err.errno == errorcode.ER_BAD_DB_ERROR:
            try:
                cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database_name))
                print("Database {} created successfully.".format(database_name))
                #sets database name to new database
                cnx.database = database_name
            except mysql.connector.Error as err:
                print('Failed creating database: {}'.format(err))
                exit(1)
        else:
            print(err)
            exit(1)

In [3]:
#create tables
#create tables from dictionary
def create_tables(tables, cursor):
    for table_name in tables:
        table_description = tables[table_name]
        try:
            print("Creating table {}: ".format(table_name), end='')
            cursor.execute(table_description)
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
                print('already exists')
            else:
                print(err.msg)
        else:
            print('OK')

In [14]:
#get business data from Yelp
#connects to yelp api and pulls businesses data
#return json object of data from Yelp
#for businesses
def businessCallGET(args):
    businessEndpoint = 'https://api.yelp.com/v3/businesses/search'
    headers = {'Authorization': 'bearer %s'% client_id_api_key_info.api_key}
    return requests.get(businessEndpoint, params=args, headers=headers)

In [9]:
#cleaning the businesses data
def cleanData(dat, keys):
    #loops each business
    clean_set = []
    for i in range(len(dat['businesses'])):
        something = []
        #cleaning loop
        for x in keys:
            try :
                if (x == 'price'):
                    something.append(len(dat['businesses'][i][x]))
                elif (x == 'location'):
                    str_piece = ''
                    if (len(dat['businesses'][i][x]['display_address']) > 0):
                        str_piece = dat['businesses'][i][x]['display_address'][0]
                        if (len(dat['businesses'][i][x]['display_address']) > 1):
                            str_piece += dat['businesses'][i][x]['display_address'][1]
                    else:
                        str_piece = 'null'
                    something.append(str_piece)
                else:
                    something.append(dat['businesses'][i][x])
            except  KeyError:
                #if the key doesn't exist
                something.append('null')
            #we have a single list of one row of data
            
        #return tuple of cleaned data
        #used in cur.execute(columns, data1,data2,etc)
        clean_set.append( (something[0], something[1], something[2],
            something[3], something[4], something[5]) )
    return clean_set

In [17]:
#inserts data into the table with the add_business column headers
def insertData(cursor, column_names, cleaned_data):
        try:
            print('in try block to insert into database')
            cursor.executemany(column_names, cleaned_data)
            print('successful')
        except mysql.connector.Error as err:
            print(err)
            print('\n')
            print('\n')
            print('ERROR DID NOT INSERT')
            print('\n')
            print('\n')
        cnx.commit()

In [23]:
import pandas as pd
cur.execute("""
SELECT *
FROM PizzaPlaces.businesses
;
""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,id,name,review_count,rating,price,address
0,-1r7SKdosGKru-1ZZ69b-w,Arancini Bros,7,5.00,0,"Brooklyn, NY 11206"
1,-6jDcadFBJnyEmWrKbMpjg,Sugar Shack,7,4.50,0,"2 Roxbury AveBreezy Point, NY 11697"
2,-7PnG_cD9VY-IfHGWzynmQ,Ainslie,112,4.00,2,"76 Ainslie StBrooklyn, NY 11211"
3,-9NO2IDCJMyNGZMAQ1-VQw,NY Pizza Suprema,1979,4.00,1,"413 8th AveNew York, NY 10001"
4,-9TisrxCZT_Alm2UV9WVXA,Tony's Pizza On Nostrand,119,3.50,1,"850 Nostrand AveBrooklyn, NY 11225"
...,...,...,...,...,...,...
995,_t_9AvsUCIsAvxoNSv_DmA,Italy Pizza,64,4.00,1,"788 Manhattan AveBrooklyn, NY 11222"
996,_wSpCaoVKFuNfPB6mwPHFg,Lia's Pizzeria,79,4.00,2,"60 Atlantic AveOceanside, NY 11572"
997,_WttOSi2_ggdvUI6GvaqTg,Da Nonna Rosa,333,4.00,2,"140 7th AveBrooklyn, NY 11215"
998,_Z__jLDUIYlO5BVXEW0dfg,My Little Pizzeria,252,3.50,1,"114 Court StBrooklyn, NY 11201"
999,__8PqUGeH19FImSs8W2LTg,Delafield Pizza,3,4.50,1,"731 Delafield AveStaten Island, NY 10310"

In [24]:
# 1. Top 5 most reviewed:

cur.execute("""SELECT name 
FROM PizzaPlaces.businesses
ORDER BY review_count DESC
LIMIT 5
;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

                        name
0           Lombardi's Pizza
1        Grimaldi's Pizzeria
2  Artichoke Basille's Pizza
3      L & B Spumoni Gardens
4              Di Fara Pizza

In [ ]:
2.